<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>tank_frame1.png</key>
		<dict>
			<key>frame</key>
			<string>{{0, 0}, {28, 34}}</string>
			<key>offset</key>
			<string>{0, 1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6, 2}, {28, 34}}</string>
			<key>sourceSize</key>
			<string>{40, 40}</string>
		</dict>
		<key>tank_frame2.png</key>
		<dict>
			<key>frame</key>
			<string>{{36, 9}, {28, 28}}</string>
			<key>offset</key>
			<string>{0, -1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6, 7}, {28, 28}}</string>
			<key>sourceSize</key>
			<string>{40, 40}</string>
		</dict>
		<key>tank_frame3.png</key>
		<dict>
			<key>frame</key>
			<string>{{69, 5}, {28, 32}}</string>
			<key>offset</key>
			<string>{0, 1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6, 3}, {28, 32}}</string>
			<key>sourceSize</key>
			<string>{40, 40}</string>
		</dict>
		<key>tank_frame4.png</key>
		<dict>
			<key>frame</key>
			<string>{{101, 2}, {28, 34}}</string>
			<key>offset</key>
			<string>{0, 2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6, 1}, {28, 34}}</string>
			<key>sourceSize</key>
			<string>{40, 40}</string>
		</dict>
		<key>tank_frame5.png</key>
		<dict>
			<key>frame</key>
			<string>{{132, 1}, {28, 34}}</string>
			<key>offset</key>
			<string>{0, 1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6, 2}, {28, 34}}</string>
			<key>sourceSize</key>
			<string>{40, 40}</string>
		</dict>
		<key>tank_frame6.png</key>
		<dict>
			<key>frame</key>
			<string>{{166, 5}, {28, 32}}</string>
			<key>offset</key>
			<string>{0, 1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6, 3}, {28, 32}}</string>
			<key>sourceSize</key>
			<string>{40, 40}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>1</integer>
		<key>size</key>
		<string>{512, 128}</string>
	</dict>
</dict>
</plist>
